*{
    margin: 0%;
    margin: 0%;
}
body{
    background-color: cornflowerblue;
}
#page{
    min-width: 360px; /*responsividade delimitando valor mínimo de width e máximo (abaixo), pra adaptar pra diferentes tipos de tela */
    max-width: 800px;
    height: auto;
    margin: 0px auto;
    padding: 20px;
    background-color: beige;
}
img{
    width: 100%;
}
@media screen and (min-width: 600px){ /*como vai ficar o background da página quando a tela alcançar um mínimo de 600px*/
    #page{
        background-color: coral;
    }
}
@media screen and (min-width: 300px) and (max-width: 599px){ /*como a tela vai ficar quando o width estiver entre 300px e 599px*/
    #page{
        background-color: black;
        color:antiquewhite;
    }
}
@media print{  /*mídia pra impressão, como vai ficar na tela do ctrl P*/
    *{
        color: green
    }
}